$border: solid black;
$borderRadius: 7px;
$marginTop: 5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv {
    width: 500px;
    min-height: 200px;
    border: 4px $border;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .headerDiv{
        input{
            width: 480px;
            min-height: 30px;
            border: 3px $border;
            border-radius: $borderRadius;
            margin-top: $marginTop;
        }
    }

    .listDiv{
        width: 480px;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        .itemDiv{
            width: 480px;
            height: 30px;
            line-height: 30px;
            border-bottom: 2px black;
            display: flex;
            margin-top: $marginTop;
            justify-content: space-between;
            .delBtn{
                width: 50px;
                height: 31px;
                background-color: red;
                border: none;
                border-radius: 3px;
                display: none;
            }
        }
    }

    .footerDiv{
        width: 480px;
        height: 40px;
        line-height: 30px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        input{
            margin-right: 5px;
        }
        .delAllBtn{
            min-width: 50px;
            height: 30px;
            background-color: red;
            border: none;
            border-radius: 3px;
        }
    }
}